:root {
    --color-white: rgb(248, 240, 239);
    --color-red: rgb(182, 53, 53);
    --color-gray: rgb(214, 211, 211);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 96vw;
    height: 100vh;
    margin: 0 2vw;
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 5fr 2fr;
    grid-template-rows: 1fr minmax(100px, 1fr) 1fr 5fr 1fr 4fr;
}

.sidebar {
    background-color: var(--color-red);
    grid-row: 1 / -1;
    display: grid;
    gap: 50px;
    grid-template-rows: 80px 320px 160px 1fr;
    justify-items: start;
    padding-left: 30px;
    padding-top: 15px;
    font-weight: 600;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(182, 53, 53);
    gap: .25rem;
}

.logo1 {
    background-color: var(--color-white);
    grid-row: 1 / 3;
}

.logo2 {
    background-color: var(--color-white);
    grid-row: 1 / 2;
}

.logo3 {
    background-color: var(--color-white);
    grid-row: 2 / 4;
}

.logo4 {
    background-color: var(--color-white);
}

.dashboard {
    font-size: 2rem;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 1rem;
    grid-row: 1 / 2;
    color: var(--color-white);
}

ul {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    color: var(--color-white);
    font-size: 1.5rem;
}

ul.sidebarMenu {
    grid-row: 2 / 3;
}

.icon {
    color: var(--color-white);
    height: 2rem;
    fill: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-white);
    align-self: center;
}

a:hover {
    color: rgb(54, 37, 37);
}

li {
    list-style: none;
    display: flex;
    gap: 20px;
}

.headerMenu {
    grid-column: 2 / -1;
    background-color: var(--color-white);
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
}

.searchIcon {
    justify-self: right;
}

.search {
    font-size: 1.5rem;
    background-color: var(--color-gray);
    outline: none;
    border: 0;
    border-radius: 20px;
    padding-left: 15px;
    width: 80%;
}

.search:focus {
    border: 1px solid rgb(126, 121, 121);
}

p.userName {
    font-size: 1.5rem;
    font-weight: 600;
}

.profileIcon {
    height: 3.5rem;
}

.welcomeRow {
    padding: 0 40px 20px 40px;
    margin: 0;
    grid-area: 2 / 2 / 3 / -1;
    max-height: 100px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 25px;
}

.welcome {
    text-wrap: none;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.welcomeProfileIcon {
    height: 5rem;
    grid-row: 1 / 3;
    justify-self: end;
}

p.greeting {
    margin-bottom: 0;
    align-self: end;
    font-size: 1.5rem;
    font-weight: 500;
}

.welcome p.userName {
    margin-top: 0;
    align-self: start;
    font-size: 2rem;
}

.firstButton {
    margin-left: auto;
}

button {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--color-red);
    color: var(--color-white);
    width: 120px;
    border-radius: 30px;
    padding: 10px 20px;
}

button:active {
    background-color: rgb(77, 23, 23);
}